* {
  margin: 0px;
  padding: 0px;
  /* This adds margin/padding to the inside of the element, not outside: */
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  /* To ensure our click event is triggered by the button, not the svg inside it: */
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgba(183, 237, 250, 0.918);
}
.snare-pad {
  background: rgba(255, 253, 135, 0.918);
}
.hihat-pad {
  background: rgba(161, 76, 241, 0.918);
}

/* To make the pads active on click: */
.kick-pad.active {
  background: rgba(50, 206, 245, 0.918);
}
.snare-pad.active {
  background: rgba(206, 202, 7, 0.918);
}
.hihat-pad.active {
  background: rgba(116, 0, 224, 0.918);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hihat-track,
.snare-track,
.kick-track {
  /* To show everything in one line/row: */
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* This is will stretch everything out in the row: */
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(143, 137, 137);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: rgb(143, 137, 137);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
}

.mute.active {
  background: rgba(211, 44, 44, 0.733);
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.2rem;
  /* Remove the appearance of it: */
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}

.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
